---
import HeightRange from "./height-range.astro";

type Props = {
  heightMin?: number;
  heightMax?: number;
  prefsLight: Array<string>;
  prefsMoisture: Array<string>;
  bloomSeasons: Array<string>;
  toxicity: Array<string>;
};

const { heightMin, heightMax, prefsLight, prefsMoisture, bloomSeasons, toxicity } = Astro.props;

const any =
  heightMin !== undefined ||
  heightMax !== undefined ||
  prefsLight.length > 0 ||
  prefsMoisture.length > 0 ||
  bloomSeasons.length > 0 ||
  toxicity.length > 0;
---

{
  any && (
    <div class="flex flex-col gap-4 bg-neutral-200 p-4">
      {heightMin && heightMax && (
        <div>
          <div class="mb-1 font-serif font-bold">Typical Height</div>
          <HeightRange
            min={heightMin}
            max={heightMax}
          />
        </div>
      )}

      {prefsLight.length > 0 && (
        <div>
          <div class="mb-1 font-serif font-bold">Light Preference</div>
          <ul class="ml-6 list-disc">
            {prefsLight.map((pref) => (
              <li>{pref}</li>
            ))}
          </ul>
        </div>
      )}

      {prefsMoisture.length > 0 && (
        <div>
          <div class="mb-1 font-serif font-bold">Moisture Preference</div>
          <ul class="ml-6 list-disc">
            {prefsMoisture.map((pref) => (
              <li>{pref}</li>
            ))}
          </ul>
        </div>
      )}

      {bloomSeasons.length > 0 && (
        <div>
          <div class="mb-1 font-serif font-bold">Bloom Season</div>
          <ul class="ml-6 list-disc">
            {bloomSeasons.map((pref) => (
              <li>{pref}</li>
            ))}
          </ul>
        </div>
      )}

      {toxicity.length > 0 && (
        <div>
          <div class="font-serif font-bold">Known Toxicity</div>
          <div class="mb-1 text-xs text-neutral-700">Caution: may be incomplete</div>
          <ul class="ml-6 list-disc">
            {toxicity.map((pref) => (
              <li>{pref}</li>
            ))}
          </ul>
        </div>
      )}
    </div>
  )
}
