---
import PageHeading from "../../components/page-heading.astro";
import PageLayout from "../../components/page-layout.astro";
import PlantMetadata from "../../components/plant-metadata.astro";
import { db } from "../../libs/bunny-db";
import { storage } from "../../libs/bunny-storage";
import { markdown } from "../../libs/markdown";
import { PlantSchema } from "../../schema";

Astro.response.headers.set("Cache-Control", "public, max-age=0, s-maxage=300, stale-while-revalidate=300");

const slug = Astro.params["slug"];
if (!slug) {
  return Astro.redirect("/404");
}

const res = await db.execute({
  sql: `
    SELECT
      p.id,
      p.common_name as commonName,
      p.slug,
      p.binomial,
      p.image_id as imageId,
      p.min_height_inches AS minHeightInches,
      p.max_height_inches AS maxHeightInches,
      p.height_display_feet AS heightDisplayFeet,
      p.notes,
      json_group_array(a.val) FILTER (WHERE a.kind = 'Light') AS prefsLight,
      json_group_array(a.val) FILTER (WHERE a.kind = 'Moisture') AS prefsMoisture,
      json_group_array(a.val) FILTER (WHERE a.kind = 'Bloom Season') AS bloomSeasons,
      json_group_array(a.val) FILTER (WHERE a.kind = 'Toxicity') AS toxicity
    FROM plant p
    LEFT JOIN plant_attr a ON a.plant_id = p.id
    WHERE slug = ?
    GROUP BY p.id
  `,
  args: [slug],
});

if (res.rows.length < 1) {
  return Astro.redirect("/404");
}

const [row] = res.rows;
const plant = PlantSchema.parse(row);
---

<PageLayout>
  <div class="mx-auto max-w-2xl py-4">
    <PageHeading class="mb-1">{plant.commonName}</PageHeading>
    <div class="mb-6 text-neutral-700">{plant.binomial}</div>

    {
      plant.imageId && (
        <div class="mb-6 max-w-sm">
          <img
            src={storage.plantImageUrl(plant.imageId, "preview")}
            alt={plant.commonName}
            class="w-full"
          />
        </div>
      )
    }

    <PlantMetadata
      heightMin={plant.minHeightInches}
      heightMax={plant.maxHeightInches}
      prefsLight={plant.prefsLight}
      prefsMoisture={plant.prefsMoisture}
      bloomSeasons={plant.bloomSeasons}
      toxicity={plant.toxicity}
    />

    {
      plant.notes && (
        <div
          set:html={markdown.render(plant.notes)}
          class="markdown mt-6"
        />
      )
    }
  </div>
</PageLayout>
